.container {
    min-height: 100vh;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        text-align: center;
    }
}